<div id="answer" class="anki-Reverse">
  <section class="missing">
    <header class="missing-Header">
      {{#☆ Subtitle}}
        <h2 class="missing-Header_Subtitle">
          {{☆ Subtitle}}
        </h2>
      {{/☆ Subtitle}}
      {{#☆ Syntax (inline code)}}
        <p class="missing-Header_Code">
          <code>{{☆ Syntax (inline code)}}</code>
        </p>
      {{/☆ Syntax (inline code)}}
      <h1 class="missing-Header_Title">
        {{★ Title}}
      </h1>
    </header>
    <div class="missing-KeyPoint">
      <div class="missing-KeyPoint_Code">
        {{cloze:★ Key point (code block or image)}}
      </div>
      {{#★ Key point notes}}
        <div class="missing-KeyPoint_Notes">
          {{★ Key point notes}}
        </div>
      {{/★ Key point notes}}
    </div>
    {{#✎ Other notes}}
      <footer class="missing-Notes">
        {{✎ Other notes}}
      </footer>
    {{/✎ Other notes}}
  </section>
</div>
